// COLORS
$white: hsl(0, 0%, 98%);
$gray: hsl(0, 0%, 41%);
$black: hsl(0, 0%, 8%);

// FONT SIZES
$font-dlarge: 5rem;
$font-dmedium: 1.125rem;
$font-dsmall: 0.875rem;
$font-mlarge: 2.25rem;
$font-msmall: 1rem;

//CONTAINER
$container: 1440px;
